body {
    background-color: black !important;
    margin: 0;
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    display: inline;
    margin-left: 35%;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
    padding: 2.5rem ; 

  }
  

  .feature {
    text-align: center;
    padding: 1rem;
  }

  .feature-icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

  }
  
  
  .info {
    margin-bottom: 1.5rem;
    color: #666;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  }
  
  .teampic{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 1rem;
  }
  .feature {
    text-align: center;
    border: 2px solid #AE83E8; 
    border-radius: 10px; 
  }
.bor{
    border: 2px solid  #FFCC04;
    border-radius: 10px;
    padding: 0;
    margin: 0;

}
  .logo{
    margin-left: 50px;
    margin-bottom: 10px;
    display:inline;
    height:50px;
    width: 50px;
  }
  